<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>DOCet - MagNews Online Help</display-name>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>docet.servlets.DocetConfigurator</listener-class>
    </listener>
    <servlet>
        <servlet-name>DocetSimpleServlet</servlet-name>
        <servlet-class>docet.servlets.DocetSimpleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocetSimpleServlet</servlet-name>
        <url-pattern>/docs/*</url-pattern>        
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/errors/notfound.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errors/internalerror.html</location>
    </error-page>
</web-app>