<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>DOCet - MagNews Online Help</display-name>
  <filter>
    <filter-name>DocetURLFilter</filter-name>
    <filter-class>docet.filters.DocetURLFilter</filter-class>
    <init-param>
      <param-name>expectedUrlPattern</param-name>
      <param-value>^(/toc)|(/main/index.mndoc)|(/faq/[a-zA-Z_0-9\-]+\.mndoc)|(/pages/[a-zA-Z_0-9\-]+\.mndoc)|(/pages/[a-zA-Z_0-9\-]+\.pdf)|(/images/[a-zA-Z_0-9\-]+\.\w{3,}\.mnimg)</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DocetURLFilter</filter-name>
    <url-pattern>*.mnimg</url-pattern>
    <url-pattern>*.mndoc</url-pattern>
    <url-pattern>*.pdf</url-pattern>
    <url-pattern>/toc</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <listener>
    <description>ServletContextListener</description>
    <listener-class>docet.servlets.DocetConfigurator</listener-class>
  </listener>
  <servlet>
    <servlet-name>DocetServlet</servlet-name>
    <servlet-class>docet.servlets.DocetServlet</servlet-class>
    <init-param>
      <param-name>baseDirectory</param-name>
      <param-value>/docet/</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>MediaContentServlet</servlet-name>
    <servlet-class>docet.servlets.MediaContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdfContentServlet</servlet-name>
    <servlet-class>docet.servlets.PdfContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchContentServlet</servlet-name>
    <servlet-class>docet.servlets.SearchContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MediaContentServlet</servlet-name>
    <url-pattern>*.mnimg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocetServlet</servlet-name>
    <url-pattern>*.mndoc</url-pattern>
    <url-pattern>/toc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchContentServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfContentServlet</servlet-name>
    <url-pattern>*.pdf</url-pattern>
  </servlet-mapping>
</web-app>