*{box-sizing: border-box;}
body{padding:0;margin:0;background-color:#ffffff;height:100%;width:100%;}
.main-header{background-color:#0C2939;color:#ffffff;padding:20px 15px;font-family:"Helvetica Neue", Arial, sans-serif;font-size:20px;line-height:1em;font-weight:400}

